*{
	padding:0;
	margin:0;
	box-sizing:border-box;
}
 /*.box1{
	 height:200px;
	 width:100px;
	 background-color:white;
	 margin:10px;
	 position:relative;
 }
 .box2{
	 height:100px;
	 width:200px;
	 background-color:yellow;
	 position:absolute;
	 /*left:200px;*/
	/* left:50%;
	 transform:translatex(-50%);
 }
 */
 .box1{
	 height:600px;
	 width:800px;
	 background-color:green;
	 position:relative;
 }
 .box2{
	 height:100px;
	 width:200px;
	 background-color:green;
	 position:absolute;	
	 /*top:200px;*/
	 top:50%;
	 transform:translatey(-50%);
 }