*{
	padding:0;
	margin:0;
	box-sizing:border-box;
}

body{
	background-color:white;
}

.box{
	width:250px;
	height:300px;
	margin:30px;
	padding:25px;
	border:2px green;
	overflow:auto;
	display:inline-block;
}