*{
	padding:0;
	margin:0;
	box-sizing:border-box;
}
.img{
	height:100vh;
	width:100vw;
	background-position:center center;
	background-size:cover;
	background-image:url("https://images.unsplash.com/photo-1618166546971-79b09d64e08c?auto=format&fit=crop&q=80&w=1854&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
	background-attachment:fixed;
}
p{
	padding:30px;
	margin:30px;
	font-family: 'Roboto', sans-serif;
}