<div class="row">
    <div class="col-md-5">
        <form #stdform= "ngForm" (ngSubmit)="onstdadd()">
            <div class="form-group">
                <label for="fname">first name*</label>
                <input type="text" required name="fname" ngmodel class="form-control">
            </div>
            <div class="form-group">
                <label for="lname">last name*</label>
                <input type="text"required name="lastname" ngmodel class="form-control">
            </div>
            <div class="form-group">
                <label for="email">email*</label>
                <input type="text"required name="email" ngmodel class="form-control">
            </div>
            <div class="form-group">
                <label for="contact">contact*</label>
                <input type="text" required name="contact" ngmodel class="form-control">
            </div>
            <button class="btn btn-sm btn-block btn-outline-info">add student</button>
            </form>
        </div>

            

            

            


