*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	background-color:#042b5f;
}
.logo{
	display: inline-block;
	width: 120px;
}

.logo img{
	width: 100%;
}
.moviecard{
	height: 500px;
	position: relative;
	overflow: hidden;
}
.moviecard img{
	
	height: 100%;
    width: 100%;
    object-fit: cover;
}
.rating-sec{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    background-color: #032541;
    color: #ffff;
}
.overview-sec{
    position: absolute;
    top: 30%;
    height: 70%;
    background-color: #fff;
    padding: 1rem;
    opacity: 0;
    transition: all 0.4s linear;
	transform: scale(0);
    
}

.moviecard:hover .overview-sec,
.moviecard:active .overview-sec,
.moviecard:focus .overview-sec{
	transform: scale(1);
	opacity: 1;
}

.moviename{
    height: 33px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

span{
	display: inline-block;
	padding: 0px 5px;
}



