.form-control:disbled{
    background-color: transparent;
    opacity: 1;
    border:0px;
}
.shape{
    width: 10px;
    height:10px;
    background-color: orange;
    border-radius: 50%;
    display:inline-block;
    align-self: center;
}