*{
	padding:0;
	margin:0;
	box-sizing:border-box;
}
 .container{
	 height:100vh;
	 width:100vw;
	 border:2px pink;
	 position:relative;
 }
 .box{
	 height:100px;
	 width:100px;
	 background-color:black;
	 display:inline-block;
	 text-align:center;
	 vertical-align:middle;
	 display:table-cell;
	 color:red;
	 position:absolute;
 }
 .box1{
	 top:0;
	 left:0;
 }
 .box2{
	 top:0;
	 left:50%;
	 transform:translatex(-50%);
 }
 .box3{
	 top:0;
	 right:0;	
 }
 .box4{
	 top:50%;
	 left:0;
	 transform:translatey(-50%);
 }
 .box5{
	 top:50%;
	 left:50%;
	 transform:translate(-50%,-50%);
 }
 .box6{
	 right:0;
	 top:50%;
	 transform:translatey(-50%);
 }
 .box7{
	 bottom:0;
	 left:0;
 }

 .container{
	 height:100vh;
	 width:100vw;
	 border:2px solid red;
	 position:relative;
 }
 .box{
	 height:100px;
	 width:100px;
	 background-color:red;;
	 display:inline-block;
	 text-align:center;
	 vertical-align:middle;
	 display:table-cell;
	 color:black;
	 position:absolute;
 }
 .box1{
	 top:0;
	 left:0;
 }
 .box2{
	 top:0;
	 left:50%;
	 transform:translatex(-50%);
 }
 .box3{
	 top:0;
	 right:0;	
 }
 .box4{
	 top:50%;
	 left:0;
	 transform:translatey(-50%);
 }
 .box5{
	 top:50%;
	 left:50%;
	 transform:translate(-50%,-50%);
 }
 .box6{
	 right:0;
	 top:50%;
	 transform:translatey(-50%);
 }
 .box7{
	 bottom:0;
	 left:0;
 }
 