*{
	padding:0;
	margin:0;
	box-sizing:border-box;
}
.box{
	height:200px;
	width:200px;
	background-color:red;
	margin:0 auto;
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
}
.box1{
	height:200px;
	width:200px;
	background-color:black;
	cursor:pointer;
	transition:all 0.7s ease-in;
	transform-origin:bottom;
}
.box1:hover{
	transform:perspective(400px)rotatez(180deg)scale(2);    	
}